*{
	padding:0;
	margin:0;
}

/* Lo de abajo de la barra gris */

.all{
	width:100%;
	height:auto;
	min-height:1000px;
    margin-top:50px;
    background: #DEDEDE;
}

/* Lo de en medio */

.main{
	width:1000px;
	height:2200px;
	background: white;
    margin:0px auto;
    padding: 20px;
}

/* La barra gris de arriba */

header{
    background: #909090;
	height:50px;
	width:100%;
	position:fixed;
	top:0px;
	color:#fff;
	font-family:Arial;	
	box-shadow:0px 0px 15px #909090;
}

ul{
    display: flex;
    list-style:none;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family:Arial;
}

ul li{
    height: 100%;
    line-height: 50px; /* alinea el texto verticalmente */
    background: #909090;
}

img{
    float: right;
    width: 44px;
    margin: 3px 15px;
}

a img{
    float: left;
    width: 30px;
    margin: 10px 15px;
}

.user{
    text-align: left;
    font-size: 22px;
    color:black;
    margin: 0;
}

.user:hover{
    color:black;
}

.lis{
    flex: 1;
}

ul li a{
    padding: 0px 10px;
    display: block;
    color: white;

    transition-delay: .0s;
    transition-duration: .3s;
    transition-timing-function: ease;
}

ul li a:hover{
	background:#ff3d9e;
    color:white;
    font-weight: bold;
}

ul li ul{
    display: inline-block;
}

a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
    height: 100%;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;	
}

/* TABLA */
.table{
    overflow: auto;
    height: 500px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

table{
    width: 100%;
}

thead{
    background: #DEDEDE;
}

table, th, td {
    border: 1px solid rgba(0,0,0,0.5);
    border-collapse: collapse; 
}

th, td{
    padding: 5px;
    box-sizing: border-box;
}


tr{
    transition-delay: .0s;
    transition-duration: .3s;
    transition-timing-function: ease;
}

tr:hover{
    background: #e6e6e6;
}

/*  Para el estilo de devoluciones.php */

.seccion{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}



/* FORMULARIO */

form{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}

p{
    font-weight: bold;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

input, select{
    width: 50%;
    border-radius: 5px;
    margin: 10px 0px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.5);
    font-size: 18px;
    text-align: center;
}

input[type="submit"]{
    margin-bottom: 40px;
    color: white;
    border: none;
    background: #909090;
    font-weight: bold;

    transition-delay: .0s;
    transition-duration: .3s;
    transition-timing-function: ease;
}

input[type="submit"]:hover{
    color: white;
    font-weight: bold;
    background:#ff59ac;
}

/*  Para el estilo de cobrar.php */

.info1, .info2{
    color: #ff59ac;
    border-bottom: 0px;
}

.info2{
    margin-bottom: 40px;
}